body{
  background-color: aliceblue;
}
header{
  background-color: #141414;
}

p{
  color:aquamarine;
  column-gap:  10px;
}
a{
  color:aliceblue;
  text-decoration: none;
}
a:hover{
  background-color:gold;
}