{%extends 'layout.html'%}
{% block content %}
<div class="grid-info-container">
    {% for enemy in enemy_type %}
    <div class="grid-multiple-items">
        <a href="/enemy/{{enemy[0]}}">
            <h2>{{enemy[1]}}</h2>
            <img src="/static/images/{{enemy[4]}}" height="200px" alt="{{enemy[1]}}">
            <p>Type: {{ enemy[2] | get_enemy_type }}</p>
        <p>Description: {{enemy[3]}}</p>
        </a>
    </div> <!-- multiple item div ends -->
    {% endfor %}
</div> <!-- info grid container div ends -->
{%endblock%}