<!DOCTYPE html>
<html lang="en">

<head>

    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href='/static/css/style.css'>
    <script src='/static/javascript/script.js'></script>
    <title>DMC5</title>
</head>

<body>
    <header>
        <div class="headerbar">

            <a href="/">
                <div class="headerimage">
                    <img src="/static/images/dmc5_logo.png">
                </div>
            </a>
        </div>
    </header>
    <nav>
        <div class="navbaritems">
            <a href="/allenemies">Enemies</a>
            <a href="/allcharacters">Characters</a>
            <div class="dropdown">
                <div class="dropdownbutton">Information</div>
                <div class="dropdown-content">
                    <a href="/">Test1</a>
                    <a href="/">Test2</a>
                    <a href="/">Test3</a>
                </div>
            </div>

        </div>
    </nav>
    <main>
        blart man
        <br>
        {%block content%} {%endblock%}
    </main>
    <footer>
        <p>this is the footer</p>
    </footer>
</body>

</html>