<!DOCTYPE html>
<html lang="en">

<head>

    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href='/static/css/style.css'>
    <script src='/static/javascript/script.js'></script>
    <title>DMC5</title>
</head>

<body>
    <header>
        <div class="headerbar">
            <div class="headerimage">
                <a href="/">
                    <img src="/static/images/dmc5_logo.png">
                </a>
            </div><!-- headerimage div ends -->
        </div> <!-- headerbar div ends -->
    </header>

    <nav class="navbar">
        <div class="navbaritems">
            <div class="dropdown">
                <div class="dropdownbutton" onclick="toggleDropdown(event)">
                    Strategies 
                    <img src="/static/images/arrow_drop_down.png" class="dropdown-arrow" alt="arrow" />
                </div>
                <div class="dropdown-content">
                    <a href="/strategy/character/1">Nero</a>
                    <a href="/strategy/character/2">Dante</a>
                    <a href="/strategy/character/3">V</a>
                    <a href="/strategy/character/4">Vergil</a>
                </div> <!-- dropdown-content div for strategies ends -->
            </div> <!-- dropdown div for strategies ends -->
    
            <div class="dropdown">
                <div class="dropdownbutton" onclick="toggleDropdown(event)">
                    Enemies 
                    <img src="/static/images/arrow_drop_down.png" class="dropdown-arrow" alt="arrow" />
                </div>
                <div class="dropdown-content">
                    <a href="/enemy/type/1">Normal</a>
                    <a href="/enemy/type/2">Elite</a>
                    <a href="/enemy/type/3">Boss</a>
                </div> <!-- dropdown-content div ends -->
            </div> <!-- dropdown div for enemies ends -->
    
            <div class="dropdown">
                <div class="dropdownbutton" onclick="toggleDropdown(event)">
                    Characters 
                    <img src="/static/images/arrow_drop_down.png" class="dropdown-arrow" alt="arrow" />
                </div>
                <div class="dropdown-content">
                    <a href="/character/1">Nero</a>
                    <a href="/character/2">Dante</a>
                    <a href="/character/3">V</a>
                    <a href="/character/4">Vergil</a>
                </div> <!-- dropdown-content div for characters ends -->
            </div> <!-- dropdown div for characters ends -->
    
            {% if 'username' is in session %}
                <div class="navbar-button">
                    <a href="/dashboard">Dashboard</a>
                </div> <!-- dashboard button div ends -->
            {% else %}
                <div class="navbar-button">
                    <a href="/login">Login</a>
                </div> <!-- login button div ends -->
    
                <div class="navbar-button">
                    <a href="/register">Register</a>
                </div> <!-- register button div ends -->
            {% endif %}
        </div> <!-- navbaritems div ends -->
    </nav>

    <main>
        {% block content %} {% endblock %}
        <!-- Flash message location -->
        {% with messages = get_flashed_messages() %}
            {% if messages %}
                {% for message in messages %}
                    <div class="flash-message-container">
                        <p class="flash-message">{{ message }}</p>
                    </div> <!-- flash-message-container div ends -->
                {% endfor %}
            {% endif %}
        {% endwith %}
    </main>

    <footer>
        <h2>CONTACT ME</h2>
        <p><a href="mailto:21033@burnside.school.nz">21033@burnside.school.nz</a></p>
    </footer>
</body>

</html>