{%extends 'layout.html'%}
{% block content %}
<form method = "POST" action="/login">

    <label for="username"><b>Username:</b></label>
    <br>
    <input type="text" placeholder="Enter username" name="username" id="username" minlength="6" maxlength="14" required>
    <br>
    <label for="password"><b>Password:</b></label>
    <div class="password-container">
        <input type="password" placeholder="Enter Password" name="password" id="password" minlength="8" maxlength="24" required>
        <!-- Password visibility toggle -->
        <img src="/static/images/visibility.png" alt="Show Password" id="togglePassword" class="toggle-password">
    </div>
    <br>
    <button type="submit" class="empty">Login</button>

</form>
{%endblock%}