{%extends 'layout.html'%}
{% block content %}
<form method = "POST" action="/login">

    <label for="username"><b>Username</b></label>
    <input type="text" textfield="Enter username" name="username" id="username" minlength="6" maxlength="14" required>

    <label for="password"><b>Password</b></label>
    <input type="password" textfield="Enter Password" name="password" id="password" minlength="8" maxlength="24" required>
    <button type="submit" class="empty">Login</button>

<!-- unsuccessful login -->
{% with messages = get_flashed_messages() %}
    {% if messages %}
        {% for message in messages %}
            <p class="flash-message">{{ message }}</p>
        {% endfor %}
    {% endif %}
{% endwith %}

</form>
{%endblock%}