{%extends 'layout.html'%}
{% block content %}
<div class="account-container">
  <h1>Register</h1>
  <form method="POST" action="/register" class="account-form">
    <label for="username"><b>Username</b></label>
    <input type="text" name="username" id="username" minlength="6" maxlength="14" required>

    <label for="password"><b>Password</b></label>
    <div class="password-container">
      <input type="password" name="password" id="password" minlength="8" maxlength="24" required>
      <img src="/static/images/visibility.png" alt="Show Password" id="togglePassword" class="toggle-password">
    </div>

    <label for="password_repeat"><b>Repeat Password</b></label>
    <div class="password-container">
      <input type="password" name="password_repeat" id="password_repeat" minlength="8" maxlength="24" required>
      <img src="/static/images/visibility.png" alt="Show Password" id="togglePasswordRepeat" class="toggle-password">
    </div>

    <button type="submit" class="account-btn">Register</button>
  </form>
  <div class="container-signin">
    <p>Already have an account? <a href="/login">Sign in</a>.</p>
  </div>
</div>
  {%endblock%}
