{%extends 'layout.html'%}
{% block content %}
<div class="flexbox-home-container">
    <h1>DEVIL MAY CRY 5 GUIDE</h1>
    <h2>This website includes editable guides on each character for the game Devil May Cry 5.</h2>
    <h5>Click on one of the characters below to see their strategies</h5>
</div>
<div class="grid-info-container">
    {% for character in character_strategy %}
    <div class="grid-multiple-items">
        <a href="/strategy/character/{{character[0]}}"> 
            <h2>{{character[1]}}</h2>
            <img src="/static/images/{{character[4]}}" height="200px" alt="{{character[1]}}">
            <p>Type: {{ character[2] }}</p>
            <p>Description: {{ character[3] }}</p>
        </a>
    </div> <!-- multiple item div ends -->
    {% endfor %}
</div> <!-- info grid container div ends -->
{%endblock%}