{%extends 'layout.html'%}
{% block content %}
<h1>SELECT CHARACTER TO SEE ALL STRATEGIES</h1>
<div class="grid-container">
    {% for character in character_strategy %}
    <div class="grid-multiple-items">
        <h2>{{character[1]}}</h2>
        <a href="/strategy/character/{{character[0]}}">
            <img src="/static/images/{{character[4]}}" height="200px" alt="{{character[1]}}">
        </a>
        <p>Type: {{ character[2] }}</p>
        <p>Description: {{ character[3] }}</p>
    </div>
    {% endfor %}
</div>
{%endblock%}