{% extends 'layout.html' %}
{% block content %}
<h1>Strategy for {{ strategy[1] }} against {{ strategy[6] }}</h1>
<div class="grid-container">
    
    <div class="grid-item">
        <h2>{{ strategy[1] }} vs {{ strategy[6] }}</h2>
        <a href="#">
            <img src="/static/images/{{ strategy[7] }}" height="200px" alt="{{ strategy[1] }}">
        </a>
        <p>Enemy Type: {{ strategy[8] }}</p>
        <p>Difficulty: {{ strategy[3] }}</p>
        <p>Strategy: {{ strategy[4] }}</p>
    </div>
</div>
{% endblock %}
