{% extends 'layout.html' %}
{% block content %}
<h1>Strategy for {{ strategy[1] }} against {{ strategy[6] }}</h1>
<div class="grid-info-container">
    
    <div class="grid-single-item">
        <h2>{{ strategy[1] }} vs {{ strategy[6] }}</h2>
        <a href="#">
            <img src="/static/images/{{ strategy[7] }}" height="200px" alt="{{ strategy[1] }}">
        </a>
        <p>Enemy Type: {{ strategy[8] }}</p>
        <p>Difficulty: {{ strategy[3] }}</p>
        <p>Strategy: {{ strategy[4] }}</p>
    </div>
</div>
<form method="POST" action="{{ url_for('update_strategy', ch=strategy[0], en=strategy[5]) }}">
    <label for="strategy">Strategy (max 1000 characters):</label>
    <br>
    <textarea name="strategy" id="strategy" maxlength="1000" oninput="updateCharCount()"></textarea>
    <p id="charCount">0 / 1000 characters</p>
    <button type="submit">Update Strategy</button>
</form>

{% endblock %}
